*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    background-color: palevioletred;
}

.logo{
   max-width:100%;
}


.card{
    padding: 1rem;
    min-width: 18rem;
   
}

.card-img-top{
    height: 45%;
    box-shadow: -5px -5px 5px black;
    border: solid 3px red;
    border-radius: 10px;
}

.card>.image-fluid{
    box-shadow: -5px -5px 5px black;
    border: solid 3px red;
    border-radius: 10px;
    height:100%;
}

.card-text{
    height: 50%;
}

.btn-outline-danger{
    height: 3.8rem;
}

.btn-danger{
    box-shadow: -5px -5px 5px black;
    border-radius: 0%;
}

.form-check{
    min-width: 8rem;
}

.input_search{
    min-width:14rem;
    max-height: 2.2rem;
}

.customerData{
    max-width: 70%;
}


@media (max-width: 425px) {

    .logo{

        transform:rotateZ(-90deg);
        max-width: 300px;
    }

    h2{
        font-size: 1rem;
    }

    .customerData{
        max-width: 100%;
    }

    .eventsStats>table{
        width: 100%;
        font-size: 0.8rem;
    }

    .btn-outline-danger{
        min-width: 8rem;
    }

    #categories{
        width: 55vw;
    }

    #categories .form-check{
        width: auto;
    }
}

@media (min-width: 426px) {
    
    .eventsStats{
        width: 75%;
    }

}

@media (min-width: 426px) and (max-width: 768px){
    
    .btn-outline-danger{
        height: 3rem;
        font-size: 0.65rem;
    }

    .form-check-label{
        font-size: 0.8rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    
    .btn-outline-danger{
        height: 3.4rem;
        font-size: 0.85rem;
    }
}